---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes

- name: Ensure nginx service is running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes