---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes

- name: Copy nginx configuration file
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/my_static_site.conf
  notify: Reload nginx

- name: Enable the site by creating a symlink
  ansible.builtin.file:
    src: /etc/nginx/sites-available/my_static_site.conf
    dest: /etc/nginx/sites-enabled/my_static_site.conf
    state: link
  notify: Reload nginx

- name: Remove the default nginx site
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Reload nginx

- name: Get certificate from keyvault
  azure.azcollection.azure_rm_keyvaultsecret_info:
    vault_uri: "https://{{ lookup('env', 'KEYVAULT_NAME') }}.vault.azure.net/"
    name: "{{ lookup('env', 'CERTIFICATE_NAME') }}"
    auth_source: 'cli'
    version: current
  delegate_to: localhost
  become: no
  no_log: true
  register: cert_secret

- name: Create cert from secret
  ansible.builtin.copy:
    content: "{{ cert_secret.secrets[0].secret | b64decode }}"
    dest: /tmp/cert.pfx
    mode: '0600'
  delegate_to: localhost
  no_log: false

- name: Dump/Parse PKCS#12 file
  community.crypto.openssl_pkcs12:
    action: parse
    src: /tmp/cert.pfx
    path: /tmp/bundle.pem
    state: present
    mode: '0644'
  delegate_to: localhost
  no_log: false

- name: Deploy Key and Cert to Server
  ansible.builtin.copy:
    content: "{{ lookup('file', '/tmp/bundle.pem') | community.crypto.split_pem | select('search', item.marker) | first }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  loop:
    - { marker: 'PRIVATE KEY', dest: '/etc/nginx/privkey.pem', mode: '0600' }
    - { marker: 'CERTIFICATE', dest: '/etc/nginx/cert.pem',    mode: '0644' }
  notify: Reload nginx

# - name: Copy files to server
#   ansible.builtin.copy:
#     src: "{{ item.path }}"
#     dest: "{{ item.dest }}"
#     owner: root
#     group: root
#     mode: "{{ item.perms }}"
#   loop: 
#     - { path: "/tmp/temp_nginx.key", dest: "/etc/nginx/privkey.pem", perms: '0600' }
#     - { path: "/tmp/temp_nginx.crt", dest: "/etc/nginx/cert.pem", perms: '0644' }
