on:
  workflow_call:
    inputs:
      vm_ip:
        required: true
        type: string
      nsg_name:
        required: true
        type: string
      rg_name:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  ansible-deploy:
    name: Configure VM with Ansible
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        sparse-checkout: |
          ansible/
          scripts/

    - name: Test outputs from terraform
      run: |
        echo "VM_IP is ${{ inputs.vm_ip }}"
        echo "NSG_NAME is ${{ inputs.nsg_name }}"
        echo "RG_NAME is ${{ inputs.rg_name }}"

    - name: Get runner IP
      id: get_runner_ip
      run: |
        RUNNER_IP=$(curl -s "https://api.ipify.org")
        echo "RUNNER_IP=$RUNNER_IP" >> $GITHUB_OUTPUT
        echo "Runner public IP is $RUNNER_IP"

    - name: Install Ansible
      run: |
        sudo apt update
        sudo apt install -y ansible