name: Deploy resources
on: workflow_dispatch
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/full-terraform-worker.yml
    secrets: inherit

  config:
    needs: deploy
    uses: ./.github/workflows/ansible-worker.yml
    with:
      vm_ip: ${{ needs.deploy.outputs.VM_IP }}
      nsg_id: ${{ needs.deploy.outputs.NSG_ID }}
    secrets: inherit
  
