on: 
  workflow_call:
    outputs:
      vm_ip:
        description: "The public IP address of the deployed VM"
        value: ${{ jobs.terraform-deploy.outputs.vm_ip }}
      nsg_id:
        description: "The ID of the Network Security Group"
        value: ${{ jobs.terraform-deploy.outputs.nsg_id }}

permissions:
  id-token: write
  contents: read

jobs:
  terraform-deploy:
    name: Deploy Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/full
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    outputs:
      vm_ip: ${{ steps.terraform_outputs.outputs.VM_IP }}
      nsg_id: ${{ steps.terraform_outputs.outputs.NSG_ID }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2.0.3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Plan
      run: terraform plan -var="ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}" -var="admin_username=${{ secrets.VM_ADMIN_USER }}"
    
    - name: Terraform Apply
      run: terraform apply -auto-approve -var="ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}" -var="admin_username=${{ secrets.VM_ADMIN_USER }}"

    - name: Output Terraform Outputs
      id: terraform_outputs
      run: |
        VM_IP=$(terraform output -raw public_ip_address)
        echo "VM_IP=$VM_IP" >> $GITHUB_OUTPUT
        echo "The VM is accessible at IP: $VM_IP"

        NSG_ID=$(terraform output -raw network_security_group_id)
        echo "NSG_ID=$NSG_ID" >> $GITHUB_OUTPUT
        echo "The Network Security Group ID is: $NSG_ID"

    - name: Terraform Destroy
      if: github.branch != 'main'
      run: terraform destroy -auto-approve -var="ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}" -var="admin_user=${{ secrets.VM_ADMIN_USER }}"
